:root {
  /* colors*/
  --primary-900: #254a2a;
  --primary-700: #3f6b39;
  --primary-500: #64ab59;
  --primary-300: #c9e8c8;
  --primary-100: #e3f5d3;

  --pink-900: #ff98a9;
  --pink-500: #ffd8df;
  --pink-300: #ffeaee;

  --gray-900: #1e293b;
  --gray-700: #4b5563;
  --gray-500: #bdc0c5;
  --gray-300: #d7d8d8;
  --gray-100: #e8eced;

  --red-900: #f51818;
  --red-500: #fa6565;
  --red-300: #ffb3b3;

  --white-hard: #ffffff;
  --white-soft: #f8f9fa;

  /* fonts */
  --font-family:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  /* shadows */
  --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.2);
}
body {
  margin: 0;
  background-color: var(--bg-dark); /* Dùng biến màu đen đã lưu */
  color: var(--white-hard); /* Chữ mặc định thành màu trắng */
  min-height: 100vh;
}

.home-wrapper {
  background-color: var(--white-soft);
}
