.page {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-family: var(--font-family);
  padding: 30px;
  min-height: 100%;
}

@media (max-width: 768px) {
  .page {
    padding: 16px;
  }
}
